html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}
body {
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
  color: black;
  overflow-x: hidden;
  font-family: Oswald, sans-serif;
}
.sitetype {
  width: 70%;
  height: 180px;
  position: relative;
  left: -1000px;
  margin-right: 15%;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px gray;
  border-width: thin;
  border: solid black;
  border-radius: 15px;
}
.sitetype p {
  margin-left: 13px;
  margin-right: 13px;
}
.b1 {
  width: auto;
  height: 30px;
  background-color: white;
  color: red;
  position: relative;
  border-radius: 2px;
  border-width: thin;
  border: solid red;
  left: 40px;
  text-align: center;
}
.b1:hover {
  background-color: orange;
  color: black;
}
