html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.phist {
  float: left;
  margin: 30px;
  color: black;
  font-size: 15px;
  width: 70%;
  height: 400px;
}
.vapor {
  float: left;
  height: 180px;
  width: 18%;
}
figcaption {
  color: red;
}
