html {
  height: 100%;
  width: 100%;
  background-color: gray;
}
body {
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #f1f1f1;
  color: black;
  overflow-x: hidden;
  font-family: Oswald, sans-serif;
}
.logo {
  width: 100%;
  height: 200px;
  background-image: url('logo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.menu {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  position: relative;
  left: 30%;
  margin-right: -30%;
}
.menub {
  float: left;
  background-color: gray;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  font-size: 15px;
  display: none;
}
.menu .icon {
  float: left;
  margin-left: 15%;
  margin-right: -15%;
  background-color: gray;
  text-decoration: none;
  color: white;
  padding: 10px;
}
.menu .icon:hover {
  background-color: red;
  color: yellow;
  box-shadow: 5px 5px 5px black;
}
.menu.responsive {position: relative; }
.menu.responsive a.menub {
    width: 200px;
    height: auto;
    border-radius:0px;
    background-color: gray;
    clear: both;
    display: inline-block;
    text-align: center;
  }
  .menu.responsive a:hover {
    background-color: red;
    color: yellow;
  }
  .isframe {
    width: 100%;
    height: 60%;
    margin-top: 80px;
  }
